<style>
	.body {
		margin: 0;
	}
	.body .container {
		max-width: 100%;
		padding: 0;
	}
	.body .container .container {
		max-width: 1210px;
	}
</style>
{{> components/ob-custom/home/ob-hero-banner}}
{{> components/ob-custom/home/ob-covid-banner}}
{{> components/ob-custom/home/ob-choices-panel}}
{{> components/ob-custom/home/ob-quality-panel}}
{{> components/ob-custom/home/ob-21-days-panel}}
{{> components/ob-custom/home/ob-testimonials-panel}}
{{> components/ob-custom/home/ob-popular-panel}}
{{> components/ob-custom/home/ob-new-meal-panel}}
{{> components/ob-custom/home/ob-commitment-panel}}
{{> components/ob-custom/home/ob-social-embed}}
{{> components/ob-custom/home/ob-newsletter-panel}}
